---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
  namespace: flux
spec:
  interval: 1h
  releaseName: cilium
  targetNamespace: cilium
  storageNamespace: cilium
  chartRef:
    kind: OCIRepository
    name: cilium
    namespace: flux
  valuesFrom:
    - kind: ConfigMap
      name: cilium-values
