# Make sure our directory structure exists
mkdir -p "$(pwd)/.direnv/etc" "$(pwd)/.direnv/bin"

# Set path and environment variables
PATH_add "$(pwd)/.direnv/bin"
PATH_add "$(pwd)/bin"

# Configure git hooks
git config --local core.hooksPath "$(pwd)/.githooks"

# Versions of tools to download
CLUSTERCTL_VERSION=v1.6.1
FLUX_VERSION=2.2.2
HELM_VERSION=v3.14.0
KUBECTL_VERSION=v1.29.1
KTAIL_VERSION=1.4.0
SOPS_VERSION=3.8.1
TALOSCTL_VERSION=v1.6.3

# Download tools

## clusterctl
if [ ! -x "$(pwd)/.direnv/bin/clusterctl" ] || [ "$($(pwd)/.direnv/bin/clusterctl version --output short)" != "${CLUSTERCTL_VERSION}" ]; then
    echo -n "Downloading clusterctl ${CLUSTERCTL_VERSION}..."
    curl --silent --location --output "$(pwd)/.direnv/bin/clusterctl" https://github.com/kubernetes-sigs/cluster-api/releases/download/${CLUSTERCTL_VERSION}/clusterctl-linux-amd64
    chmod 0755 "$(pwd)/.direnv/bin/clusterctl"
    echo " done."
fi
echo -n "Setting up clusterctl completion..."
. <(clusterctl completion bash)
echo " done."

## flux
if [ ! -x "$(pwd)/.direnv/bin/flux" ] || [ "$($(pwd)/.direnv/bin/flux --version)" != "flux version ${FLUX_VERSION}" ]; then
    echo -n "Downloading flux ${FLUX_VERSION}..."
    curl --silent --location https://github.com/fluxcd/flux2/releases/download/v${FLUX_VERSION}/flux_${FLUX_VERSION}_linux_amd64.tar.gz | tar xzf - -C "$(pwd)/.direnv/bin/" flux
    chmod 0755 "$(pwd)/.direnv/bin/flux"
    echo " done."
fi
echo -n "Setting up flux completion..."
. <(flux completion bash)
echo " done."

## helm
if [ ! -x "$(pwd)/.direnv/bin/helm" ] || [ "$($(pwd)/.direnv/bin/helm version --short --template '{{.Version}}' 2>/dev/null)" != "${HELM_VERSION}" ]; then
    echo -n "Downloading helm ${HELM_VERSION}..."
    curl --silent --location https://get.helm.sh/helm-${HELM_VERSION}-linux-amd64.tar.gz | tar xzf - --strip-components=1 -C "$(pwd)/.direnv/bin/" linux-amd64/helm
    chmod 0755 "$(pwd)/.direnv/bin/helm"
    echo " done."
fi
echo -n "Setting up helm completion..."
. <(helm completion bash)
echo " done."

## kubectl
if [ ! -x "$(pwd)/.direnv/bin/kubectl" ] || [ "$($(pwd)/.direnv/bin/kubectl version --client --output=yaml | grep 'gitVersion:' 2>/dev/null)" != "  gitVersion: ${KUBECTL_VERSION}" ]; then
    echo -n "Downloading kubectl ${KUBECTL_VERSION}..."
    curl --silent --location --output "$(pwd)/.direnv/bin/kubectl" https://dl.k8s.io/release/${KUBECTL_VERSION}/bin/linux/amd64/kubectl
    chmod 0755 "$(pwd)/.direnv/bin/kubectl"
    echo " done."
fi
echo -n "Setting up kubectl completion..."
. <(kubectl completion bash)
echo " done."

## ktail
if [ ! -x "$(pwd)/.direnv/bin/ktail" ]|| [ "$($(pwd)/.direnv/bin/ktail --version)" != "ktail ${KTAIL_VERSION}" ]; then
    echo -n "Downloading ktail v${KTAIL_VERSION}..."
    curl --silent --location --output "$(pwd)/.direnv/bin/ktail" https://github.com/atombender/ktail/releases/download/v${KTAIL_VERSION}/ktail-linux-amd64
    chmod 0755 "$(pwd)/.direnv/bin/ktail"
    echo " done."
fi

## sops
if [ ! -x "$(pwd)/.direnv/bin/sops" ] || [ "$($(pwd)/.direnv/bin/sops --version | sed 's/ (.*//' | head -1)" != "sops ${SOPS_VERSION}" ]; then
    echo -n "Downloading sops ${SOPS_VERSION}..."
    curl --silent --output "$(pwd)/.direnv/bin/sops" --location https://github.com/mozilla/sops/releases/download/v${SOPS_VERSION}/sops-v${SOPS_VERSION}.linux.amd64
    chmod 0755 "$(pwd)/.direnv/bin/sops"
    echo " done."
fi

## talosctl
if [ ! -x "$(pwd)/.direnv/bin/talosctl" ] || [ -z "$($(pwd)/.direnv/bin/talosctl version --client --short | grep "${TALOSCTL_VERSION}\$")" ]; then
    echo -n "Downloading talosctl ${TALOSCTL_VERSION}..."
    curl --silent --location --output "$(pwd)/.direnv/bin/talosctl" https://github.com/siderolabs/talos/releases/download/${TALOSCTL_VERSION}/talosctl-linux-amd64
    chmod 0755 "$(pwd)/.direnv/bin/talosctl"
    echo " done."
fi
echo -n "Setting up talosctl completion..."
. <(talosctl completion bash)
echo " done."

## kubectl-everything plugin
## https://github.com/kubernetes/kubectl/issues/151#issuecomment-851499071
cat << EOP > $(pwd)/.direnv/bin/kubectl-everything
#!${SHELL}
kubectl get --show-kind --ignore-not-found \$(kubectl api-resources --verbs=list --namespaced -o name \$@ | paste -s -d, -) \$@
EOP
chmod 755 "$(pwd)/.direnv/bin/kubectl-everything"
