ROOT=$( realpath $( dirname "$( readlink "${BASH_SOURCE[0]}" )" ) )

# Create bin folder
mkdir -p ${ROOT}/bin

# Fetch kubectl
KUBECTL_VERSION=v1.20.2
if [ ! -x "${ROOT}/bin/kubectl" ] || [ "$(kubectl version --short --client)" != "Client Version: ${KUBECTL_VERSION}" ]; then
    echo -n "Downloading kubectl ${KUBECTL_VERSION}..."
    curl --silent --location --output "${ROOT}/bin/kubectl" https://dl.k8s.io/release/${KUBECTL_VERSION}/bin/linux/amd64/kubectl
    chmod 755 "${ROOT}/bin/kubectl"
    echo " done."
fi

# Create kube-config directory and set environment variable
if [ ! -d "${ROOT}/.kube" ]; then
    mkdir -p "${ROOT}/.kube"
fi
export KUBECONFIG="${ROOT}/.kube/config"

# Fetch helm
HELM_VERSION=v3.5.1
if [ ! -x "${ROOT}/bin/helm" ] || [ "$(helm version --short --template '{{.Version}}')" != "${HELM_VERSION}" ]; then
    echo -n "Downloading helm ${HELM_VERSION}..."
    curl --silent --location https://get.helm.sh/helm-${HELM_VERSION}-linux-amd64.tar.gz | tar xzf - --strip-components=1 -C "${ROOT}/bin/" linux-amd64/helm
    chmod 755 "${ROOT}/bin/helm"
    echo " done."
fi

# Add ${ROOT}/bin to PATH
PATH_add ${ROOT}/bin
