---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux
  namespace: flux
spec:
  interval: 1h
  releaseName: flux
  targetNamespace: flux
  storageNamespace: flux
  chart:
    spec:
      chart: flux2
      version: 2.17.2
      sourceRef:
        kind: HelmRepository
        name: flux
      interval: 1h
  valuesFrom:
    - kind: ConfigMap
      name: flux-values
