---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: flux
spec:
  interval: 1h
  chart:
    spec:
      chart: home-assistant
      version: 0.3.30
      sourceRef:
        kind: HelmRepository
        name: home-assistant
      interval: 1h
  releaseName: home-assistant
  targetNamespace: home-assistant
  storageNamespace: home-assistant
  dependsOn:
    - name: prometheus
  valuesFrom:
    - kind: ConfigMap
      name: home-assistant
    - kind: Secret
      name: home-assistant
      valuesKey: values
    - kind: Secret
      name: home-assistant
      valuesKey: nodename
      targetPath: nodeSelector.kubernetes\.io/hostname
    - kind: Secret
      name: home-assistant
      valuesKey: nodename
      targetPath: persistence.annotations.volume\.kubernetes\.io/selected-node
    - kind: Secret
      name: home-assistant
      valuesKey: hostname
      targetPath: ingress.hosts[0].host
    - kind: Secret
      name: home-assistant
      valuesKey: hostname
      targetPath: ingress.tls[0].hosts[0]
