---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: storage-local
  namespace: flux
spec:
  interval: 1h
  url: https://github.com/rancher/local-path-provisioner.git
  ref:
    tag: v0.0.34
  ignore: |-
    # exclude all
    /*
    # include chart directory
    !/deploy/chart/
