---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: haproxy-ingress
  namespace: flux
spec:
  interval: 1h
  chart:
    spec:
      chart: haproxy-ingress
      version: 0.15.1
      sourceRef:
        kind: HelmRepository
        name: haproxy-ingress
      interval: 1h
  releaseName: haproxy-ingress
  targetNamespace: haproxy-ingress
  storageNamespace: haproxy-ingress
  valuesFrom:
    - kind: ConfigMap
      name: haproxy-ingress
