---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: home-assistant
  namespace: home-assistant
spec:
  groups:
  - name: home-assistant
    rules:
    - alert: Battery Low
      expr: hass_sensor_battery_percent < 20
      for: 5m
      labels:
        severity: warning
      annotations:
        summary: "{{ $labels.friendly_name }} is low."
        description: "Battery {{ $labels.friendly_name }} has less than 20% left."
    - alert: Battery Low
      expr: hass_sensor_battery_percent < 20
      for: 1h
      labels:
        severity: critical
      annotations:
        summary: "{{ $labels.friendly_name }} is low."
        description: "Battery {{ $labels.friendly_name }} has less than 20% left."
    - alert: Heating Pressure Low
      expr: hass_sensor_pressure_bar[entity="sensor.opentherm_ketel_waterdruk_centrale_verwarming"] < 1.5
      for: 30m
      labels:
        severity: critical
      annotations:
        summary: "{{ $labels.friendly_name }} is low."
        description: "{{ $labels.friendly_name }} pressure is below 1.5 bar."
    - alert: Heating Pressure High
      expr: hass_sensor_pressure_bar[entity="sensor.opentherm_ketel_waterdruk_centrale_verwarming"] > 2
      for: 30m
      labels:
        severity: critical
      annotations:
        summary: "{{ $labels.friendly_name }} is high."
        description: "{{ $labels.friendly_name }} pressure is over 2 bar."
