---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: home-assistant
  namespace: home-assistant
spec:
  groups:
  - name: home-assistant
    rules:
    - alert: Battery Low
      expr: hass_sensor_battery_percent < 20
      for: 5m
      labels:
        severity: warning
      annotations:
        summary: "{{ $labels.friendly_name }} is low."
        description: "Battery {{ $labels.friendly_name }} has less than 20% left."
    - alert: Battery Low
      expr: hass_sensor_battery_percent < 20
      for: 1h
      labels:
        severity: critical
      annotations:
        summary: "{{ $labels.friendly_name }} is low."
        description: "Battery {{ $labels.friendly_name }} has less than 20% left."
