---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vcluster
  namespace: flux
spec:
  interval: 1h
  chart:
    spec:
      chart: vcluster
      version: 0.32.0
      sourceRef:
        kind: HelmRepository
        name: vcluster
      interval: 1h
  releaseName: vcluster
  targetNamespace: vcluster
  storageNamespace: vcluster
  valuesFrom:
    - kind: ConfigMap
      name: vcluster
    - kind: Secret
      name: vcluster
      valuesKey: nodename
      targetPath: controlPlane.statefulSet.scheduling.nodeSelector.kubernetes\.io/hostname
    - kind: Secret
      name: vcluster
      valuesKey: nodename
      targetPath: controlPlane.statefulSet.persistence.volumeClaimTemplates[0].metadata.annotations.volume\.kubernetes\.io/selected-node
